{{> head}}


{{> navbar}}

<div class="row">
  <div class="col-8">
    <h1>
      Mi texto
      
    </h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi nobis necessitatibus incidunt itaque quasi placeat ratione minus asperiores dolor, ab animi, possimus iusto veritatis aliquid nulla sit quia, repellendus nemo!
    </p>
  </div>
  <div class="col-4">
    <img src="assets/img/dog.jpg" class="img-thumbnail" >
  </div>
</div>

{{> footer}}